.container(style={'font-family':'cursive','font-size':'28px','padding':'150px 0px','text-align':'center'})
  a(href="http://localhost:7777/driver?lat=-36.889528&lng=174.693118&type=Pink" style={'text-decoration':'none','color':'#009688'}) Click to get going